* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 70px 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar scroller"
    "sidebar main"
    "footer footer"
    ;

}

header {
    grid-area: header;
    background-color: aliceblue;
    display: grid;
    place-items: center;
}

#scroller-bar {
    grid-area: scroller;
}

#sidebar {
    grid-area: sidebar;
    height: 100vh;
}

header, #scroller-bar {
    display: grid;
    place-items: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}